.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66;}
.col-12 {width:100%;}
/* body {
  width:100%;
} */
nav {
  width:100%;
  margin:0px;
}

.navbar {
  display: flex;
  /* width:100%; */
  margin-top:20px;
  margin-left: 15px;
  overflow: hidden;
}

.logoname {
  margin-top: -15px;
  margin-left: 0px;
  font-size: 25px;
}

.navicons ul {
  display: flex;
  list-style: none;
  padding:5px 15px 5px 90px;
}

.navicons a {
  text-decoration: none;
  margin:17px;
  color: grey;
  font-size: 15px;
}

.navicons .home {
  color: black;
  font-weight: 400;
}

.login {
  padding: 15px 10px 0 30px;
}

button {
  border-radius: 12px;
  background-color:blue;
  color:white;
  padding:5px 15px;
  font-size: 15px;
  border-color: white;
}

.exercise {
  line-height: 10px;
  font-size: 40px;
  margin-left: 30px;
  margin-top: 60px;
  /* width:100%; */
}

hr {
  width:20px;
  margin-left: 0px;
}

h5 {
  margin-left: 28px;
  margin-top: -20px;
  color:red;
}

.small {
  line-height: 20px;
  font-size: 15px;
  width:280px;
}

.small button {
  margin-top: 20px;
  border-radius: 10px;
  padding:10px 10px;
  font-size: 20px; 
}

.block .line {
  display:flex;
}

.block h4 {
  font-size: 15px;
}

.block {
  margin-top: 40px;
  margin-left: 30px;
  line-height: 0px;
  background-color: rgb(207, 205, 205);
  display:flex;
  padding:10px 5px;
  width: 50vw;
  border-radius: 10px;
}

.block h3 {
   font-size: 12px;
   margin-top:12px;
   font-weight: 300;
   color: grey;
}

.l2 button {
  margin-top: 0px;
  margin-left:0px;
  background-color: orangered;
  padding:3px 10px;
}

.block .pro {
  background-color: white;
  color:black;
  font-weight: 700;
}

.block .b1 {
  margin-left: 10px;
  margin-right: 10px;
}

.block .b2 {
  background-color: whitesmoke;
  border-radius: 10px;
  margin-right: 15px;
  padding:0px 10px 5px 10px;
}

.block .b3 {
  margin-right: 15px;
}

.block .b4 {
  margin-right: 15px;
}